/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import '~bootstrap/dist/css/bootstrap.min.css';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.black-snackbar{
    background-color: black !important;
    color: white !important;
}
.green-snackbar{
    background-color: rgb(18, 173, 18) !important;
    color: white !important;
}