<div class="bg-image"></div>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <img src="../../../assets/images/logo.png" alt="" style="width: 250px; position: absolute; top: -460%;">
    </a>
    <ul>
      <li>
        <a class="a" routerLink="/signup" >Signup</a>
        <a class="a" routerLink="/login">Login</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
      <div class=" rounde">
        <div class=" card-body p-4 mb-4" style="height: 300px;border: 2px solid black; border-radius: 30px;" >
          <h4>{{product.name}}</h4>
          <div style="height: 150px;">
            <p>{{product.description}}</p>
          </div>
          <div class="d-flex justify-content-between flex-lg-wrap">

            <p class="text-dark fs-5 fw-bold mb-0">{{product.price}} MAD</p>
            <br>
            <a href="#" class="btn btn-outline-info rounded-pill px-3 text-primary"><i
                class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>